extends /includes/layout
include /mixins/modal
block styles
  include styles
  link(rel='stylesheet', href='/Croppie/croppie.css')
block scripts
  include scripts
  script(src='/Croppie/croppie.min.js')
  script.
    $(document).ready(function(){
      
      /*General*/
      $("#fileUpload").on('change.bs.fileinput',function(e){
          e.stopPropagation();
          PictureEditor(".fileinput-preview > img", "colegioPictureResult");
      });
      
      /*Contacto*/
      ManageContent($("#addContact"), ".removeContact", $("#contact-container"), $("#contact-container").html(), $('input[name="colegioContactoTotal"]'));      
            
      /*Profesores*/
      /*Carga los juegos en la tabla cuando es "confirmado" el modal 'modalNewProfesor'*/
      /*$("#addProfesores").on('click',function(){
        LoadContentInTable($("#profesoresToAdd").DataTable(), '.checkProfesorToAdd', 'profesorId', 2, 3, 3);
        $("#modalNewProfesor").modal('hide');
      });*/
      
      /*Grados*/
      /*$("#addGrados").on('click',function(){
        LoadContentInTable($("#gradosToAdd").DataTable(), '.checkGradoToAdd', 'gradoId', 2, 3, 3);
        $("#modalNewGrado").modal('hide');
      });*/
      
      /*Juegos*/
      /*Carga los juegos en la tabla cuando es "confirmado" el modal 'modalNewGame'*/
      $("#addGames").on('click',function(){
        LoadContentInTable($("#gamesToAdd").DataTable(), '.checkGameToAdd', 'gameId', 2, 3, 3);
        $("#modalNewGame").modal('hide');
      });
    });
block navigation
  include navigation
  include menu
block content
  div.canvas
    div.container
      div.row.dashboard-title
          | Colegios
      div.row.dashboard
        include /flash
        ul.nav.nav-pills.nav-justified
          li.active #[a(data-toggle="pill" href="#general") General]
          li #[a(data-toggle="pill" href="#contact") Contacto]
          //-li #[a(data-toggle="pill" href="#profesores") Profesores]
          //-li #[a(data-toggle="pill" href="#grados") Grados]
          li #[a(data-toggle="pill" href="#juegos") Juegos]
          
        form(method="POST" action=colegios.routes.add autocomplete="nope")#contactForm
          div.tab-content.dashboard
            div.tab-pane.fade.in.active#general
              div.container-fluid
                div.col-xs-3.col-sm-3.col-md-3#fileUpload
                  .fileinput.fileinput-new(data-provides='fileinput')
                    .fileinput-new.thumbnail(style='width: 150px; height: 150px;')
                      img(data-src='holder.js/150x150', alt='...')
                    .fileinput-preview.fileinput-exists.thumbnail(style='max-width: 150px; max-height: 150px;')
                    div.text-center
                      span.btn.btn-default.btn-file
                        span.fileinput-new Select image
                        span.fileinput-exists Change
                        input(type='file')
                      a.btn.btn-default.fileinput-exists(href='#', data-dismiss='fileinput') Remove
                  input(type="hidden" name="colegioPictureResult")

                div.col-md-9
                  div.form-group
                    label.control-label(for='colegioName') Nombre
                    input#colegioName.form-control.input-md(name='colegioName', placeholder='Nombre del colegio', required='', type='text')
                  div.form-group
                    label.control-label(for='colegioAddress') Direccion
                    input#colegioAddress.form-control.input-sm(name='colegioAddress', placeholder='Direccion', type='text')
                  div.row
                    div.col-xs-6.col-sm-6.col-md-6
                      div.form-group
                        label.control-label(for='colegioCP') CP
                        input#colegioCP.form-control.input-sm(name='colegioCP', placeholder='Codigo Postal', type='text')
                    div.col-xs-6.col-sm-6.col-md-6
                      div.form-group
                        label.control-label(for='colegioCity') Ciudad
                        input#colegioCity.form-control.input-sm(name='colegioCity', placeholder='Ciudad', type='text')
                    div.col-xs-6.col-sm-6.col-md-6
                      div.form-group
                        label.control-label(for='colegioPais') Pais
                        input#colegioPais.form-control.input-sm(name='colegioPais', placeholder='Pais', type='text')
                    div.col-xs-6.col-sm-6.col-md-6
                      div.form-group
                        label.control-label(for='colegioProv') Provincia
                        input#colegioProv.form-control.input-sm(name='colegioProv', placeholder='Provincia', type='text')
                    input(type="submit" id="submit-form" class="hidden")
            
            div.tab-pane.fade#contact
              div.container-fluid
                div.pull-right
                  button(type="button" title="Nuevo Contacto")#addContact.btn.btn-primary
                    span.glyphicon.glyphicon-plus(aria-hidden="true")
                div.row
                  input#colegioContactoTotal( type='hidden', name='colegioContactoTotal')
                  div#contact-container
                    div.contact
                      div.pull-right
                        button(type="button" title="Borrar Contacto").removeContact.btn.btn-primary
                          span.glyphicon.glyphicon-minus(aria-hidden="true")
                      div.clearfix
                      div.col-md-6
                        div.form-group
                          label.control-label(for='colegioContactoNombre') Nombre
                          input#colegioContactoNombre.form-control(name='colegioContactoNombre', placeholder='Nombre', type='text')
                      div.col-md-6
                        div.form-group
                          label.control-label(for='colegioContactoApellido') Apellido
                          input#colegioContactoApellido.form-control(name='colegioContactoApellido', placeholder='Apellido', type='text')
                      div.clearfix
                      div.col-md-6
                        div.form-group
                          label.control-label(for='colegioContactoEmail') Email
                          input#colegioContactoEmail.form-control(name='colegioContactoEmail', placeholder='Email', type='email')
                      div.col-md-6
                        div.form-group
                          label.control-label(for='colegioContactoCargo') Cargo
                          select#colegioContactoCargo.form-control.selectpicker(name='colegioContactoCargo', placeholder='Cargo')
                            each cargo in colegios.cargos
                              option !{cargo}
                      div.clearfix
                      div.col-md-6
                        div.form-group
                          label.control-label(for='colegioContactoTelefono') Telefono
                          input#colegioContactoTelefono.form-control(name='colegioContactoTelefono', type='tel')
                      div.col-md-6
                        div.form-group
                          label.control-label(for='colegioContactoFax') Fax
                          input#colegioContactoFax.form-control(name='colegioContactoFax', type='tel')
                      div.clearfix
                      div.col-md-12.text-center
                        h3 Social
                        div.form-group
                          div.col-md-4
                            div.input-group
                              span.input-group-addon #[span.fa.fa-facebook]
                              input#colegioContactoSocialFb.form-control(name='colegioContactoSocialFb', placeholder='Facebook', type='text')
                          div.col-md-4
                            div.input-group
                              span.input-group-addon #[span.fa.fa-twitter]
                              input#colegioContactoSocialTw.form-control(name='colegioContactoSocialTw', placeholder='Twitter', type='text')
                          div.col-md-4
                            div.input-group
                              span.input-group-addon #[span.fa.fa-skype]
                              input#colegioContactoSocialSk.form-control(name='colegioContactoSocialSk', placeholder='Skype', type='text')
                      div.clearfix
                      hr(style="min-width:100%; background-color:#a1a1a1 !important; height:1px;")
                        
            //-div.tab-pane.fade#profesores
              div.container-fluid
                div.panel.panel-info
                  div.panel-heading
                    h3.panel-title.pull-left Profesores disponibles para el colegio.
                    button(type="button" title="Agregar Profesor" data-toggle="modal" data-target="#modalNewProfesor").btn.btn-primary.pull-right
                      span.glyphicon.glyphicon-plus(aria-hidden="true")
                    div.clearfix
                  div.panel-body
                    div.table-responsive
                      table.table.table-hover.text-center.display(cellspacing="0" width="100%" data-page-length="25").table-results#profesoresToAdd
                        thead
                          tr
                            th Nombre
                            th Apellido
                            th(data-toggle="tooltip" data-placement="left" title="Borrar") Remover
                            th.hidden.input input
                
            //-div.tab-pane.fade#grados
              div.container-fluid
                div.panel.panel-info
                  div.panel-heading
                    h3.panel-title.pull-left Grados disponibles para el colegio.
                    button(type="button" title="Agregar Grado" data-toggle="modal" data-target="#modalNewGrado").btn.btn-primary.pull-right
                      span.glyphicon.glyphicon-plus(aria-hidden="true")
                    div.clearfix
                  div.panel-body
                    div.table-responsive
                      table.table.table-hover.text-center.display(cellspacing="0" width="100%" data-page-length="25").table-results#gradosToAdd
                        thead
                          tr
                            th Grado
                            th Division
                            th(data-toggle="tooltip" data-placement="left" title="Borrar") Remover
                            th.hidden.input input
                
            div.tab-pane.fade#juegos
              div.container-fluid
                div.panel.panel-info
                  div.panel-heading
                    h3.panel-title.pull-left Juegos disponibles para el colegio.
                    button(type="button" title="Agregar Juego" data-toggle="modal" data-target="#modalNewGame").btn.btn-primary.pull-right
                      span.glyphicon.glyphicon-plus(aria-hidden="true")
                    div.clearfix
                  div.panel-body
                    div.table-responsive
                      table.table.table-hover.text-center.display(cellspacing="0" width="100%" data-page-length="25").table-results#gamesToAdd
                        thead
                          tr
                            th Titulo
                            th Tipo de juego
                            th(data-toggle="tooltip" data-placement="left" title="Borrar") Remover
                            th.hidden.input input
                            
          div.pull-right
            a(href=colegios.routes.root role="button").btn.btn-warning #[i.glyphicon.glyphicon-upload] Volver
            button.btn.btn-success(type="submit") Cargar

  //-+ModalAdminAddListWithCheckbox("modalNewProfesor", colegios.lists.profesores, "Nombre", "Apellido", "contact", "contact.apellido", "checkProfesorToAdd", "addProfesores", "nombre")
  //-+ModalAdminAddListWithCheckbox("modalNewGrado", colegios.lists.grados, "Nombre", "Division", "nombre", "division", "checkGradoToAdd", "addGrados")
  +ModalAdminAddListWithCheckbox("modalNewGame", colegios.lists.juegos, "Titulo", "Tipo de juego", "title", "type", "checkGameToAdd", "addGames")
