extends /includes/layout
include /mixins/admin_stats
block styles
  include styles
  link(rel='stylesheet', href='/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
block scripts
  include scripts
  script(src='/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
block navigation
  include navigation
  include menu
block content
  div.canvas
    div.container
      div.row.dashboard-title
          | #{juego.title}
      div.row.dashboard
        include /flash
        if juego.formInfo
          form.form-horizontal
            | !{juego.formInfo}
        else
          div.alert.alert-danger No se pudo cargar el formulario.
