script(src='/jasny-bootstrap/dist/js/jasny-bootstrap.min.js')
script(src='/datatables.net/js/jquery.dataTables.min.js')
script(src='/datatables.net-bs/js/dataTables.bootstrap.min.js')
script(src='/bootstrap-formhelpers/dist/js/bootstrap-formhelpers.min.js')
script(src='/js/admin.js')
