link(rel='stylesheet', href='/jasny-bootstrap/dist/css/jasny-bootstrap.min.css')
link(rel='stylesheet', href='/datatables.net-bs/css/dataTables.bootstrap.min.css')
link(rel='stylesheet', href='/bootstrap-formhelpers/dist/css/bootstrap-formhelpers.min.css')
link(rel='stylesheet', href='/stylesheets/admin.css')
