footer
  div.footer
    div.container
      div.row
        div.col-xs-12
          ul.social
            li #[a(href="#") #[span.fa.fa-facebook]]
            li #[a(href="#") #[span.fa.fa-twitter]]
            li #[a(href="#") #[span.fa.fa-google-plus]]
            li #[a(href="mailto:"+email+"?Subject=Pedido%20de%20informacion") #[span.fa.fa-envelope]]
  div.footer-bottom
    div.container
      div.pull-left All Rights reserved 2017 &copy; #[a(href="/")=title]
      div.pull-right
        ul
          li #[a(href="/contact")=text('contact')]
          li #[a(href="/termsofuse")=text('tos')]
          li #[a(href="/support")=text('support')]
          li #[a(href="/privacy")=text('privacy')]
