<!--[if IE]>
  script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/holderjs/holder.min.js')
script(src='/bootstrap-select/dist/js/bootstrap-select.min.js')
