link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
link(rel='stylesheet', href='/bootstrap-select/dist/css/bootstrap-select.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
