

link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
// bxslider
link(type='text/css', rel='stylesheet', href='js/template/bxslider/jquery.bxslider.css')
// End bxslider
// flexslider
link(type='text/css', rel='stylesheet', href='js/template/flexslider/flexslider.css')
// End flexslider
// bxslider
link(type='text/css', rel='stylesheet', href='js/template/radial-progress/style.css')
// End bxslider
// Animate css
link(type='text/css', rel='stylesheet', href='stylesheets/template/animate.css')
// End Animate css
// Bootstrap css
link(type='text/css', rel='stylesheet', href='stylesheets/template/bootstrap.min.css')
link(type='text/css', rel='stylesheet', href='js/template/bootstrap-progressbar/bootstrap-progressbar-3.2.0.min.css')
// End Bootstrap css
// Jquery UI css
link(type='text/css', rel='stylesheet', href='js/template/jqueryui/jquery-ui.css')
link(type='text/css', rel='stylesheet', href='js/template/jqueryui/jquery-ui.structure.css')
// End Jquery UI css
// Fancybox
link(type='text/css', rel='stylesheet', href='js/template/fancybox/jquery.fancybox.css')
// End Fancybox
link(type='text/css', rel='stylesheet', href='fonts/template/fonts.css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
link(type='text/css', data-themecolor='default', rel='stylesheet', href='stylesheets/template/main-cyan.css')
link(type='text/css', rel='stylesheet', href='js/template/rs-plugin/css/settings.css')
link(type='text/css', rel='stylesheet', href='js/template/rs-plugin/css/settings-custom.css')
link(type='text/css', rel='stylesheet', href='js/template/rs-plugin/videojs/template/video-js.css')


//link(rel='stylesheet', href='/stylesheets/style.css')