extends includes/layout
block content
  div.container-fluid
    div.col-md-12.text-center
      div.col-middle
        div.error-number 404
        h2 No encontrado!
        p No hemos encontrado lo que buscas
        a(href=url) Inicio
