extends includes/layout
block content
  div.container-fluid
    div.col-md-12.text-center
      div.col-middle
        div.error-number 500
        h2 Hay Problemas!
        p= error
        a(href=url) Inicio
