extends includes/layout
block content
  div.container-fluid
    div.col-md-12.text-center
      div.col-middle
        div.error-number 403
        h2 No autorizado!
        p No estas autorizado para acceder a este lugar!
        a(href=url) Inicio
